[http]
	proxy = 127.0.0.1:7890
[https]
  proxy = 127.0.0.1:7890
[user]
	name = hezhongxian 
	email = jhonhe7night@outlook.com
[core]
	packedGitLimit = 512m
	packedGitWindowSize = 512m
	autocrlf = input
[pull]
	rebase = true
