/* 中文字体 */
@font-face {
    font-family: "霞鹜文楷";
    src: url("../fonts/Chinese/*");
    font-display: swap;
}

/* 英文字体 */
@font-face {
    font-family: "FiraCode Nerd Font Mono";
    src: url("../fonts/English/*");
    font-display: swap;
}